@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgbbackground));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  #text-variances {
    background: -webkit-linear-gradient(120deg, #f4b45e, #e35150);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #link-mennecy {
    background: -webkit-linear-gradient(120deg, #1caaec, #ffe0a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
